
:root {
  --orange:        #F97316;
  --orange-light:  #FFF7ED;
  --orange-dark:   #C2410C;
  --tab-height:    68px;
  --font:          'Nunito', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: #F8F8F8;
  color: #1C1C1E;
  min-height: 100dvh;
  padding-bottom: var(--tab-height);
}

.pagina{
  display: none;
}

.pagina.active{
  display: flex;
}

@media (max-width: 768px) {
  
}